<ion-view view-title="Book Office" hide-back-button="false">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
    <ion-content>
      
       <datepicker date-month-title="selected year">
    <input ng-model="date"/>
</datepicker>


      
       <!--<div class="list list-inset">-->
       <!--   <center>-->
       <!--     The following label displays the office name and location-jp-->
       <!--     <label class="item"> <b>Office Location</b><br> {{building[0].buildingName}}<br>-->
       <!--     {{building[0].address.street}},<br>-->
       <!--     {{building[0].address.city}}, {{building[0].address.state}}, {{building[0].address.zipcode}}-->
       <!--     </label>-->
       <!--   </center>-->
       <!-- </div>-->
       
      <!-- Datepicker for selecting the desired office reservation-jp-->
        
      <!--button for searching available office hours-jp-->
      <!--  <center><button class="button button-balanced ion-search" ng-click="searchbutton()">Search</button></center>-->
    </ion-content>
</ion-view>